@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to DevExpress ASP.NET MVC project!</h1>
<p>You've got an empty application that is ready for using DevExpress ASP.NET MVC extensions. You can place here the code to create the required DevExpress extensions.</p>